.pageThree {
    text-align: center;
    width     : 100%;
}

.square {
    width     : 60%;
    height       : 15vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    margin-top:3.4vh; 
    margin-left: 20%;// can giua + width = 100%
    position: relative;
    transition: border 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
// divider 15vh
//================== 4 height + 5 margin-top + 4 border === 100vh

//hover
// .square:hover {
//     border    : 1vh solid #a0d911;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     transition: box-shadow 1s, border 1s;

// }




@keyframes slideStart {
    from {
        opacity: 0;
        height: 0;
        transform: rotateX(150deg);
    }
    to {
        opacity: 1;
        height: 15vh;
        transform: rotateX(0);
    }
}
@keyframes slideInOut {
    from {
        height: 15vh;
        transform: rotateX(150deg);
        
    }
    to {
        opacity: 0;
        height: 0;
        transform: rotateX(0);
    }
}



.out:nth-child(2n) {
    animation: slideInOut 0.5s linear forwards,
}

.out{
    animation: slideInOut 0.5s linear forwards,

}

.running:nth-child(2n) {
    animation: slideStart  0.5s linear
}

.running{
    animation: slideStart  0.5s linear;
}