.pageFour {
    text-align: center;
    width     : 100%;
    background: rgb(246 247 249);
    position: relative;
}

.square {
    width: 50%;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: border 1s;
    margin-top: 3.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
}

//================== 4 height + 5 margin-top + 4 border === 100vh
.square {
    margin-left: 10%;
}

//hover
// .square:hover {
//     border    : 1vh solid #a0d911;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     transition: box-shadow 1s, border 1s;

// }

/* Square chẵn */
.square:nth-child(2n) {
    margin-left: auto;
    margin-right: 10%;
}


@keyframes slideStart {
    from {
        opacity: 0;
        width: 0%;
        transform: rotateY(150deg);

    }

    to {
        opacity: 1;
        width: 50%;
        transform: rotateY(0);
    }
}

@keyframes slideInOut {
    from {
        opacity: 1;
        width: 50%;
        transform: rotateY(0);

    }

    to {
        opacity: 0;
        width: 0%;
        transform: rotateY(150deg);
    }
}



.out:nth-child(2n) {
    animation: slideInOut 0.5s linear forwards,
}

.out {
    animation: slideInOut 0.5s linear forwards,

}

.running:nth-child(2n) {
    animation: slideStart 0.5s linear
}

.running {
    animation: slideStart 0.5s linear;
}

.footer{
    background: #fff;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}
.footer-content-email{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.footer-content-tiktok{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: calc(100% - 40px);
}
.footer-content-link{
    font-weight: bold;
}