#div1,
#div2,
#div3,
#div4 {
    height : 100vh;
    display: flex;
}

.nav {
    position : fixed;
    left     : 50%;
    top      : 2vh;
    transform: translate(-50%, -50%);
    width: 180px;
    display: flex;
    z-index: 1;
}


.btnNav {
    background-color: #f3f6fc;
    border          : 0;
    border-radius   : 25px;
    cursor          : pointer;
    font-weight     : 600;
    position        : relative;
    // text-align      : center;
    transition      : all .3s;
    padding-left    : 15px;
    padding-right   : 15px;
    // margin-left: 10px;
    margin: auto;
}
.active{
    background-color: #c2e7ff;

}
.btnNav:before {
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius   : 125px;
    content         : "";
    height          : 50%;
    left            : 4%;
    opacity         : .5;
    position        : absolute;
    top             : 0;
    transition      : all .3s;
    width           : 92%;
}

.btnNav:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform : scale(1.05);
}

img{
    max-width: 100%;
    max-height: 100%;
}
// =========== TITLE NAV ===========
.divider{
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.title{
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display           : -webkit-box;
    overflow          : hidden;
}
.language{
    width: 100%;
}
.description{
    width: 100%;
}
.horizontal-line {
    width: 80%; /* Đặt chiều rộng của đường gạch ngang */
    height: 0.1vh; /* Đặt chiều cao của đường gạch ngang */
    background-color: black; /* Màu nền của đường gạch ngang */
    margin: 0 auto; /* Để căn giữa đường gạch ngang, sử dụng margin: 0 auto; */
}
.down-the-line{
    margin: 0;
}
